<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net705" />
  <package id="Microsoft.AspNetCore.Razor.Design" version="2.2.0" targetFramework="net705" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net705" />
  <package id="MySql.Data" version="6.10.6" targetFramework="net705" />
</packages>